body {
  font-family: 'Varela Round', sans-serif;
}

.top_header {
  background-color: #C10708;
  padding: 20px 0;
}

.top_text h3 {
  color: #fff;
  font-size: 18px;
  text-transform: uppercase;
  margin: 0;
  font-weight: 400;
  letter-spacing: 2px;
}

.calculator_form_area {
  text-align: center;
  background: #FFFFFF 0% 0% no-repeat padding-box;
  box-shadow: 2px 6px 10px #00000029;
  border: 0.5px solid #A4A4A4;
  border-radius: 4px;
  padding: 40px 30px;
}

#main_form {}

#main_form .form-control {
  background: #FFFFFF 0% 0% no-repeat padding-box;
  border: 1px solid #A4A4A4;
  border-radius: 2px;
  width: 227px;
  height: 36px;
  margin: 0 auto;
}

.submit_btn {
  background-color: #C10708;
  color: #fff;
  border: none;
  width: 227px;
  margin-top: 20px;
  height: 38px;
  transition: .4s all ease-in-out;
}

.submit_btn:hover {
  background-color: #000;
}

#main_form .form-group {
  margin-top: 15px;
}

.calculator_form_area p {
  color: #A4A4A4;
  margin: 0;
}

.border_bottom {
  border-bottom: 1px solid #C10708;
  margin-top: 35px;
}

.search_result {
  margin-top: 30px;
}

.main_area {
  padding-top: 100px;
}